.gesiton_titre {
  /* background-color: rgba(37, 104, 116, 0.938); */
  background-color: black;
  color: white;
  padding: 18px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.text-font{
  font-size: 25px;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif
}

.menu-text {
  color: black;
  font-weight: bold;
}

.menu {
  background-color: rgb(60, 102, 102);
  background-color: white;

  border-radius: 5px;
  margin-right: 30px;
  padding-left: 15px;
}

.menu-color {
  background-color: rgb(61, 75, 75);
  background-color: black;
}

.menu-btn {
  color: white;
}

.text_gras{
  font-weight: bold;
}

.invoice_back{
  background-color:rgb(47, 104, 47) ;
  padding: 13px;
  color: white;
}

.invoice_police {
  text-decoration: dashed;
  text-transform: capitalize;
  text-shadow: 0cqmax;
  font-style: oblique;
}

.invoice_margin {
  margin-top: 60px;
}

.invoice_pading {
  padding: 10px;
  background-color: rgb(231, 224, 224);
}



.text_black{
  color :black
}

.size_x_large{
  font-size: larger;
}

.text_red{
  color: red;
}

.text_blue{
  color : blue;
}

.text_green{
  color: rgb(66, 82, 42);
}

.bgr_first{
  background-color: rgb(69, 137, 141);
  background-color: rgb(60, 98, 100);
  background-color: black;
}

.bgr_second{
  background-color: white;
}

.text_gras {
  font-weight: bold;
}

.text_italic{
  font-style: italic;
}

.hide{
  display: none;
}

.text_small_size{
  font-size: smaller;
}